<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pagehitterweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pagehitterweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PageHitterWeb</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$PageHitterWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PageMonitorRepository.PageMonitorDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:parkingpermit.database.windows.net,1433;Initial Catalog=PageMonitor;User ID=danmoyer@parkingpermit;Password=Dixie.123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:parkingpermit.database.windows.net,1433;Database=PageMonitor;User ID=danmoyer@parkingpermit;Password=Dixie.123;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PageMonitorRepository.PageMonitorDb, PageMonitorRepository" MigrationConfiguration="PageMonitorRepository.Migrations.Configuration, PageMonitorRepository" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PageMonitorRepository.PageMonitorDb-Web.config Connection String">
      <ParameterValue>Server=tcp:parkingpermit.database.windows.net,1433;Database=PageMonitor;User ID=danmoyer@parkingpermit;Password=Dixie.123;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PageMonitorRepository.PageMonitorDb" />
  </ItemGroup>
</Project>