@model PageHitterWeb.Models.ChartViewModel
@{
  
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body >

    <br/>
    <h2>Page Response</h2>
    <p>Page reponse times from @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString() </p>

    <img src=@Url.Action("DrawChart", "Report",
                 new
                 {
                     startDate = Model.StartDate.ToShortDateString(),
                     endDate   = Model.EndDate.ToShortDateString(),
                     url       = "https://www.findlay.edu"
                 })
         alt="Smiley face" height="400" width="600">


    <img src=@Url.Action("DrawChart", "Report",
                 new
                 {
                     startDate = Model.StartDate.ToShortDateString(),
                     endDate   = Model.EndDate.ToShortDateString(),
                     url       = "https://oilernation.findlay.edu/Pages/default.aspx"
                 })
         alt="Smiley face" height="400" width="600">

    <img src=@Url.Action("DrawChart", "Report",
                 new
                 {
                     startDate = Model.StartDate.ToShortDateString(),
                     endDate   = Model.EndDate.ToShortDateString(),
                     url       = "https://collaborate.findlay.edu" 
                 })
         alt="Smiley face" height="400" width="600">

    <img src=@Url.Action("DrawChart", "Report",
                 new
                 {
                     startDate = Model.StartDate.ToShortDateString(),
                     endDate   = Model.EndDate.ToShortDateString(),
                     url       = "https://stg.findlay.edu"
                 })
         alt="Smiley face" height="400" width="600">*


<br/><br /><br />
    <div>
        @Html.ActionLink("Home", "Index", "Home", null,  new { @class = "btn btn-primary" })
    </div>

</body>

</html>

